
#header {
  height: 100vh;
  padding: 0px;
  transition: all 1s ease;

}

#background-img {
  background-image: url("/imgs/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(40, 40, 40);
  position: absolute;
  z-index: -100;
  width: 100%;
  height: 100%;
}


#header_text {
  margin-top: 100px;;

  color: #ffffff;
  margin: auto;
  text-align: center;
  margin-bottom: 100px;;
}

#header_text h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  font-weight: 200;

}



#header_text h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
  font-weight: 300;

}

#header_sub_text h2 {
  padding: 10px;
  display: inline-block;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

#header_sub_text .header_h2:hover{
  transform: scale(1.1);
}

.spacer-vertical {
  margin: 2%;
}

@media screen and (max-width: 1100px) {
  #header_text h1 {
    font-size: 1.3em;
  }

  #header_text h2 {
    font-size: 0.8em;
  }

}

#header_infobox {
  margin-top: 100px;
  max-width: 500px;
  max-height:200px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3);

  color: #ffffff;
  margin: auto;
  text-align: center;
}

#header_infobox_content {
  padding: 10px;
  font-family: 'Oswald', sans-serif;
  font-size: 1.3em;
}

#down_btn {
  border-radius: 8px;
  width: 150px;
  color: #fff;
  border-style: solid;
  border-width: 2px;
  margin: auto;
  margin-top: 10%;
  padding: 10px;
  text-align: center;
  color: #ffffff;
}

#down_btn:hover {
  background-color: #fff;
  color: #ff383f;
  border-color: #fff;
  border-radius: 8px;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}
