html, body {
  margin: 0px;
  width: 100%;
  overflow-x: hidden;
  
}

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  /* Contains the grid and the center floating element */

  display: block;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: rgb(42,157,143);
  background: linear-gradient(135deg, rgba(42,157,143,1) 0%, rgba(244,162,97,1) 100%);
  background-image: url('/imgs/norway.jpg');
  background-position: center 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.logo {
  color: white;
  font-size: 100px;
}

.logo p {
  margin: 0 auto;  
  text-align: center;
}

.logo .logo-portfolio {
  font-size: 50px;
}

.logo-portfolio a {
  text-decoration: none;
  font-style: italic;
  color: white;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.2s ease-out;
}

.logo-portfolio a:hover {
  background-color: white;
  color: rgba(143, 20, 243, 0.9);
}

.logo .logo-portfolio::after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background-color: white;
  transition: transform 0.2s ease-out;
}

.logo .logo-portfolio:hover::after {
  transform: translateY(10px);
}

main {
  margin-top: 100vh;
  padding: 1rem;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

main h1 {
  font-weight: 200;
}


main li a {
  text-decoration: none;
  color: #5f5f5f;
}
main li a:hover {
  text-decoration: underline;
  color: #0f0f0f;
}