<div id="landing-frame">
    <div class="center">
        <hr/>
        <div class="prof-areas">
            <div class="prof-compsci">computer science</div>
            <div class="prof-photography">photography</div>
        </div>
    </div>
    <div id="arrows-down">
        <svg viewBox="0 0 100 200">
            <path id="arrow-1" d="M 0 4 L 50 50 L 100 4 L 100 0 L 50 42 L 0 0" fill="currentColor" />
            <path id="arrow-2" d="M 0 34 L 50 80 L 100 34 L 100 30 L 50 72 L 0 30" fill="currentColor" />
            <path id="arrow-3" d="M 0 64 L 50 110 L 100 64 L 100 60 L 50 102 L 0 60" fill="currentColor" />
        </svg>
    </div>
</div>
<div class="computer-science">
    
    <div class="overlay">
        <h2>Computer Science</h2>
        <p>Interests</p>
        <ul class="tui-list">
            <li class="tui-list__item">Modern Web Technologies & Web APIs</li>
            <li class="tui-list__item">Networking, Data Centers & Efficient Computing</li>
            <li class="tui-list__item">Software Architecture</li>
            <li class="tui-list__item">Enterpreneurship & Leading Roles</li>
        </ul>
        <p>Hard Skills</p>
        <div class="skills-grid">
            <a href="https://nodejs.org"><img src="/assets/img/icons8-node-js.svg" /></a>
            <a href="https://angular.io"><img src="/assets/img/icons8-angular.svg" /></a>
            <a href="https://vuejs.org"><img src="/assets/img/vue.svg" /></a>
            <a href="https://www.rust-lang.org/"><img src="/assets/img/rust-logo-blk.svg" /></a>
            <a href="https://kubernetes.io"><img src="/assets/img/kubernetes.svg" /></a>
        </div>
    </div>
</div>
<div class="photography">
    <svg class="background" width="800" height="600" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <linearGradient y2="0" x2="1" y1="0" x1="0" id="svg_5">
                <stop offset="0" stop-opacity="0.99219" stop-color="#d50c45" />
                <stop offset="0.76953" stop-opacity="0.98047" stop-color="#670ef6" />
                <stop offset="1" stop-opacity="0.98438" stop-color="#1490e2" />
                <stop offset="NaN" stop-opacity="0" stop-color="0" />
            </linearGradient>
        </defs>
        <g>
            <title>Layer 1</title>
            <path stroke-width="0" id="svg_1"
                d="m-101,-97c52,157 35,245 365,227c330,-18 511,137 487,301c-24,164 -712,195 -836,126c-124,-69 -68,-811 -16,-654z"
                opacity="NaN" fill="url(#svg_5)" />
        </g>
    </svg>
    <div class="overlay">
        <h2>Photography & Videography</h2>
        <p>TODO</p>
    </div>
</div>