
#landing-frame {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .center {
        display: block;
        width: 250px;
        hr {
            color: var(--primaryColor);
        }

        .prof-areas {
            font-size: 26px;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        .prof-compsci {
            letter-spacing: 2.7px;
        }
        
        .prof-photography {
            letter-spacing: 10px;

        }
    }

    #arrows-down {
        position: absolute;
        bottom: 1em;
        width: 100%;
        display: grid;
        justify-content: center;
        @keyframes wave {
            0% {
                opacity: 100%;
            }
            50% {
                opacity: 50%;
            }
            100% {
                opacity: 100%;
            }
        }
        & > svg {
            display: block;
            color: var(--secondaryColor-mid);
            width: 100px;
            height: 100px;
        }
        $anim-len: 2s;
        #arrow-1, #arrow-2, #arrow-3 {
            animation: wave $anim-len linear 0s infinite;
        }

        #arrow-2 {
            animation-delay: calc($anim-len / 3);
        }
        #arrow-3 {
            animation-delay: calc($anim-len / 3 * 2);
        }
    }
}

.blog-ref {
    width: 100%;
    position: relative;
    z-index: 60;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    & a {
        // @include hoverable-with-shadow();
    }
}

.background {
    position: absolute;
}

.computer-science .background {
    z-index: 2;
    right: 0;
}

.photography .background {
    right: unset;
    left: 0;
    z-index: 1;
}

.overlay {
    margin: 1em;
    z-index: 50;
    width: min(100%, 500px);
    min-width: 150px;
    font-size: 1.5rem;
    padding: 0.5em;
    border-radius: var(--tui-radius-m);
    backdrop-filter: blur(10px);
    background-color: rgba(50, 50, 50, 0.2);
}

.computer-science, .photography {
    right: 0;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photography {
    height: 300px;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    & a > img {
        width: 50px;
        aspect-ratio: 1 / 1;
    }
}


footer {
    
}