body {
    background-color: rgb(48, 68, 129);
    font-family: "Creepster", cursive;
    font-size: 2em;
    margin: 0px;
    height: 100vh;
}

#open-side {
    margin: 10px;
    width: 30px;
    height: 30px;
    
}

#side-menu {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(73, 97, 168);
}


a {
    text-decoration: None;
    color: #fff;
    cursor: pointer;
}

.help {
    cursor: help;
}

header {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: rgb(73, 97, 168);
}

#navbar-desktop {

    margin: 0px;
    padding: 10px;
}

#navbar-desktop li {
    list-style: none;
    display: inline;
    
    padding: 5px 30px;
    
}

.navbar a:hover {
    background-color: rgb(44, 74, 158);
}

/* Mobile Nav bar */
#navbar-mobile {
    list-style-type: none;
    margin: 0px;
    padding-left: 0px;
    width: 100%; 
}

#navbar-mobile a{
    width: 100%;
    display: block;
    padding-left: 10px;
}

#navbar-mobile li {
    list-style-type: none;
    padding: 5px 0px;
    margin: 10px;
    margin-left: 0px;
    width: 100%; 
}





/* Card */
#card {
    height: 80%;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    font-size: 0.8em;
    background-color: rgb(172, 32, 148);
    border-radius: 10px;

    -webkit-box-shadow: 3px 4px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 4px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 4px 0px 0px rgba(0,0,0,0.5);
}

#card-header {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0px 0px;
    height: 50px;
    display: grid;
    grid-template-columns: auto auto 35px; 
    grid-template-rows: 50px; 
}
#card-header p {
    margin: 0px;
    padding: 12px;
    font-size: 1em;
}

#card-info-btn {
    margin-top: 2px;
    grid-column: 3;
    font-size: 1.5em;
}

#card-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#game-info {
    margin: 10px;
    flex-grow: 1;
}

#game-info p {
    font-size: 0.9em;
    padding: 0px;
    margin: 0px;
}

#current-action-div {
    margin: 10px;
    flex-grow: 1;
}

input {
    height: 40px;
}


.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: rgb(15, 33, 87);
    margin: auto auto; /* 15% from the top and centered */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.btn {
    color: #fff;
    height: 50px;
    line-height: 50px;
    border:none;
    padding: 5px;
    border-radius: 2px; 
    background-color: rgba(8, 216, 19, 0.993);
    text-align: center;
    margin-left: 5px;
    margin-top: 0px;
    -webkit-box-shadow: 3px 4px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 4px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 4px 0px 0px rgba(0,0,0,0.5);
}

.btn:hover {
    -webkit-box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 6px 0px 0px rgba(0,0,0,0.5);
}

/* The Close Button */
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    font-size: 0.8em;
}

.modal p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
}

#voting-modal-content {
    height: 90%;
}

#canvas-div {
    height: 80%;
}

@media(min-width:800px){
    
    #open-side {
        display: none;
    }

    #side-menu {
        display: none;
    }

    #show-voting-btn {
        display: none;
    }
    
    
}

@media(max-width:800px){
    
        #gameinfo p {
            margin: 5px;
        }
    
        #navbar-desktop {
            display: none;
        }
    
        #show-voting-btn {
            display: block;
        }

        #current-action-div p {
            margin: 0px;
        }
    
    }
    