<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>World-Cup forecast</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <main id="app">
    <h1>Team 1</h1>
    <h2>vs</h2>
    <h1>Team 2</h1>
    <select class="team1" v-model="team1">
      <option v-for="option in allAvailableTeams1">
        {{option}}
      </option>
    </select>
    <select class="team2" v-model="team2">
      <option v-for="option in allAvailableTeams2">
        {{option}}
      </option>
    </select>
    <section>
      {{BothGames}}
    </section>
   
  </main>
  <script src="./app.js"></script>
</body>
</html>