* {
  box-sizing: border-box;
  color: white;
}

html, body {
  margin: 0;
  background: rgb(0,0,0);
  background: linear-gradient(51deg, rgba(20,20,20,1) 25%, rgba(253,76,76,1) 40%, rgba(253,76,76,1) 60%, rgba(253,218,76,1) 75%);
  height: 100vh;
}

h1, h2 {
  margin: 0;
  line-height: 3rem;
  text-align: center;
}

main {
  background-color: #303030;
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.75);
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 3rem 3rem auto;
}

.team2 {
  grid-column: 3 / 4;
}

select {
  margin: 0.3rem;
  background-color: #505050;
  border: none;
  font-size: 2rem;
}

section {
  margin: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  font-size: 2rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
