html, body {
  background-color: lightgray;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
  background-color: gray;
  padding: 0px;
  display: flex;
  min-height: 80px;
}

header h1{
  color: white;
  margin: 0px;
  padding: 10px;
  max-width: 800px;
}

header #flagMode {
  background-color: gold;
  border-radius: 5px;
  width: min-content;
  height: min-content;
  text-align: center;
  line-height: 30px;
  margin: auto;
  margin-right: 5px;
  display: none;
}

#flagMode.active {
  background-color: lightcoral;
}

#cheat {
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: rebeccapurple;
  color: white;
}

#cheat:hover {
  background-color: red;
  color: white;
}

.grid {
  margin: auto;
  display: grid;
  grid-gap: 5px;
  grid-auto-columns: min-content;
  grid-auto-rows: min-content;
  justify-content: center;
}

main {
  padding-top: 30px;
}

.cell {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: auto;
  border: solid white 2px;
  border-bottom: solid black 2px;
  border-right: solid black 2px;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box; 
  
}

.cell:hover {
  border-width:  3px;
}

.cell.discovered {
  border: solid black 2px;
  border-bottom: solid white 2px;
  border-right: solid white 2px;
}

.cell.discovered:hover {
  border-width:  3px;
}

@media only screen and (max-width: 700px) {
  .cell {
    width: 30px;
    height: 30px;
  }

  header h1 {
    font-size: 1rem;
  }

  header #flagMode {
    display: block;
  }
}

@media only screen and (max-width: 359px) {
  .cell {
    width: 20px;
    height: 20px;
  }
}