<div class="tui-island">
    <h2>Impressum</h2>
    <p>Matthias Kind</p>
    <p>Borstellstr. 45</p>
    <p>12167 Berlin</p>
</div>

<div class="tui-island">
    <h2>References</h2>
    <ul>
        <li><a target="_blank" href="https://angular.io">Angular</a></li>
        <li><a target="_blank" href="https://taiga-ui.dev">Taiga UI</a></li>
        <li><a target="_blank" href="https://icons8.com/icon/hsPbhkOH4FMe/node-js">Node Js</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></li>
        <li><a target="_blank" href="https://icons8.com/icon/j9DnICNnlhGk/angularjs">Angular</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></li>
    </ul>
</div>